## Problem 1 - Variables and Data Types

Q1: Assign your name to the variable name.

In [ ]:
name = "Savita"

In [ ]:
name

'Savita'

Q2: Assign your age (real or fake) to the variable age.

In [ ]:
age = 28

In [ ]:
age

28

Q3: Assign a boolean value to the variable has_android_phone.

In [ ]:
has_android_phone = True

You can check the values of these variables by running the next cell.

Q4: Create a dictionary person with keys "Name", "Age", "HasAndroidPhone" and values using the variables defined above.

In [ ]:
person = {
          "Name":"Savita",
          "Age":"28",
          "HasAndroidPhone" :True
          }

Let's use the person dictionary to print a nice message.

In [ ]:
print("{} is aged {}, and owns an {}.".format(
    person["Name"], 
    person["Age"], 
    "Android phone" if person["HasAndroidPhone"] else "iPhone"
))

Savita is aged 28, and owns an Android phone.

## Problem 2 - Working with Lists

Q5: Create a list containing the following 3 elements:

- Your favorite color
- The number of pets you have
- A boolean value describing whether you have previous programming experience

In [ ]:
my_list =['Red',2,True]

Let's see what the list looks like:

In [ ]:
my_list

['Red', 2, True]

Q6: Complete the following print and if statements by accessing the appropriate elements from my_list.

Hint: Use the list indexing notation [ ].

In [ ]:
print('My favorite color is',my_list[0])

My favorite color is Red

In [ ]:
print('I have {} pet(s)'.format(my_list[1]))

I have 2 pet(s)

In [ ]:
if my_list[2]==True:
  print("I have previous programming experience")
else:
  print("No previous Experience")

I have previous programming experience

Q7: Add your favorite single digit number to the end of the list using the appropriate list method.

In [ ]:
my_list.append(9)

In [ ]:
my_list

['Red', 2, True, 9]

Let's see if the number shows up in the list.

In [ ]:
my_list

['Red', 2, True, 9]

Q8: Remove the first element of the list, using the appropriate list method.

In [ ]:
l1=['red', 'yellow', 'green']

In [ ]:
l1.remove('red')

In [ ]:
l1

['yellow', 'green']

Q9: Complete the print statement below to display the number of elements in my_list.

In [ ]:
print("The list has {} elements.".format(len(my_list)))

The list has 4 elements.

## Problem 3 - Conditions and loops

Q10: Calculate and display the sum of all the numbers divisible by 7 between 18 and 534 i.e. 21+28+35+...+525+532.

Hint: One way to do this is to loop over a range using for and use an if statement inside it.

In [ ]:
sum=0

In [ ]:
for num in range(18,534):
  if num%7==0:
    sum=sum+num

In [ ]:
print('The sum of all the numbers divisible by 7 between 18 and 534 is', sum)

The sum of all the numbers divisible by 7 between 18 and 534 is 20461

## Problem 4 - Flying to the Bahamas

Q11: A travel company wants to fly a plane to the Bahamas. Flying the plane costs 5000 dollars. So far, 29 people have signed up for the trip. If the company charges 200 dollars per ticket, what is the profit made by the company?

Fill in values or arithmetic expressions for the variables below.

In [ ]:
cost_of_flying_plane = 5000

In [ ]:
number_of_passengers = 29

In [ ]:
price_of_ticket =200

In [ ]:
profit = (number_of_passengers*price_of_ticket)-cost_of_flying_plane

In [ ]:
print('The company makes of a profit of {} dollars'.format(profit))

The company makes of a profit of 800 dollars

## Problem 5 - Twitter Sentiment Analysis

Are your ready to perform some Data Analysis with Python? In this problem, we'll analyze some fictional tweets and find out whether the overall sentiment of Twitter users is happy or sad. This is a simplified version of an important real world problem called sentiment analysis.

Before we begin, we need a list of tweets to analyze. We're picking a small number of tweets here, but the exact same analysis can also be done for thousands, or even millions of tweets. The collection of data that we perform analysis on is often called a dataset.

In [ ]:
tweets = [
    "Wow, what a great day today!! #sunshine",
    "I feel sad about the things going on around us. #covid19",
    "I'm really excited to learn Python with @JovianML #zerotopandas",
    "This is a really nice song. #linkinpark",
    "The python programming language is useful for data science",
    "Why do bad things happen to me?",
    "Apple announces the release of the new iPhone 12. Fans are excited.",
    "Spent my day with family!! #happy",
    "Check out my blog post on common string operations in Python. #zerotopandas",
    "Freecodecamp has great coding tutorials. #skillup"
]

Let's begin by answering a very simple but important question about our dataset.

Q12: How many tweets does the dataset contain?

In [ ]:
number_of_tweet=print(len(tweets))

10

Let's create two lists of words: happy_words and sad_words. We will use these to check if a tweet is happy or sad.

In [ ]:
happy_words = ['great', 'excited', 'happy', 'nice', 'wonderful', 'amazing', 'good', 'best']

In [ ]:
sad_words = ['sad', 'bad', 'tragic', 'unhappy', 'worst']

To identify whether a tweet is happy, we can simply check if contains any of the words from happy_words. Here's an example:

In [ ]:
sample_tweet = tweets[0]

In [ ]:
sample_tweet

'Wow, what a great day today!! #sunshine'

Do you understand what we're doing above?

For each word in the list of happy words, we check if is a part of the selected tweet. If the word is indded a part of the tweet, we set the variable is_tweet_happy to True.

In [ ]:
is_tweet_happy =False
#get the word from happy_words
for word in happy_words:
    if word in sample_tweet:
       is_tweet_happy=True 
print(is_tweet_happy)

True

Q13: Determine the number of tweets in the dataset that can be classified as happy.

Hint: You'll need to use a loop inside another loop to do this. Use the code from the example shown above.

In [ ]:
# store the final answer in this variable
number_of_happy_tweets = 0

# perform the calculations here
for i in range(0,10):
  for word in happy_words:
    if word in tweets[i]:
      is_tweet_happy=True
      number_of_happy_tweets+=1

In [ ]:
print("Number of happy tweets:", number_of_happy_tweets)

Number of happy tweets: 6

Q14: What fraction of the total number of tweets are happy?

For example, if 2 out of 10 tweets are happy, then the answer is 2/10 i.e. 0.2.

In [ ]:
total_tweets=len(tweets)
happy_fraction = number_of_happy_tweets/total_tweets

In [ ]:
print("The fraction of happy tweets is:", happy_fraction)

The fraction of happy tweets is: 0.6

To identify whether a tweet is sad, we can simply check if contains any of the words from sad_words.

Q15: Determine the number of tweets in the dataset that can be classified as sad.

In [ ]:
# store the final answer in this variable
number_of_sad_tweets = 0
is_tweet_sad=0
# perform the calculations here
for i in range(0,10):
  for word in sad_words:
    if word in tweets[i]:
      is_tweet_sad=True
      number_of_sad_tweets+=1

In [ ]:
print("Number of sad tweets:", number_of_sad_tweets)

Number of sad tweets: 2

In [ ]:
sad_fraction = number_of_sad_tweets/total_tweets

In [ ]:
print("The fraction of sad tweets is:", sad_fraction)

The fraction of sad tweets is: 0.2